<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>

  {{!-- Si tienes CSS en /public --}}
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  {{!-- Aquí se inyecta la vista (index.hbs, artist-search.hbs, etc.) --}}
  {{{body}}}
</body>
</html>